.post-card{
  margin-top: 50px;
  border: #81CFB2 solid 0.5px;
  border-radius: 5px;

}

.post-title{
  color: #2F4F4F;
}

.post-body{
  font-size:1.5rem;
}

.comment{
  margin:0px; 
  color: #15392c;
}

.post-comment__img{
  width: 30px;
  height: 30px;
  align-self: flex-end
}
